{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    Welcome to Cart
{% endblock %}
{% block title %}
  Cart---Shop Your Favourite!!!
{% endblock %}
{% block content %}

<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Cart</h1>
					<ol class="breadcrumb">
						<li><a href="{% url 'ecomapp:home' %}">Home</a></li>
						<li class="active">cart</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>
{% if not cart_items %}

<div class="">
    <div class="text-center">
        <br>
        <h1 class="text-center">Your Shopping cart is empty</h1>
        <br>
        <p class="text-center">
            Please click <a href="{% url 'ecomapp:allProdCat' %}">Here</a>
        </p>
    </div>
</div>
{% else %}
<div class="page-wrapper">
  <div class="cart shopping">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="block">
            <div class="product-list">
              <form method="post">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="">Product ID</th>
                      <th class="">Item Name</th>
                      <th class="">Item Price</th>
                      <th class="">Quantity</th>
                      <th class="">Actions</th>
                      <th class="">Sub-total</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for cart_item in cart_items %}
                    <tr class="">
                      <td class="">{{cart_item.product.id}}</td>
                      <td class="">
                        <div class="product-info">
                          <a href="cart_item.product.get_absolute_url"><img width="80" src="{{cart_item.product.image.url}}"></a>
                          <a href="cart_item.product.get_absolute_url">{{cart_item.product.name}}</a>
                        </div>
                      </td>
                      <td class="">₹ {{cart_item.product.price}}</td>
                      <td class="">{{cart_item.quantity}}</td>
                      {% if cart_item.quantity < cart_item.product.stock %}
                      <td>
                        &nbsp; <a href="{% url 'cart:add_cart' cart_item.product.id %}" class="my_a"><i class="bi bi-plus-lg custom_icon"></i></a>&nbsp;
                        <a href="{% url 'cart:remove_cart' cart_item.product.id %}" class="my_a"><i class="bi bi-dash-lg custom_icon"></i></a>&nbsp; 
                        <a href="{% url 'cart:full_remove' cart_item.product.id %}" class=""><i class="bi bi-trash3 custom_icon"></i></a>
                      </td>
                      {% else %}
                      <td>
                        &nbsp;<a href="{% url 'cart:remove_cart' cart_item.product.id %}" class="my_a"><i class="bi bi-dash-lg custom_icon"></i></a>&nbsp;
                        <a href="{% url 'cart:full_remove' cart_item.product.id %}" class=""><i class="bi bi-trash3 custom_icon"></i></a>
                      </td>
                      {% endif %}
                      <td>₹ {{cart_item.sub_total}}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
                </table>
                <div class="pull-right che_out">
                  <p class="text-center">Your total is <strong>₹ {{total}}</strong></p>
                  <a href="{% url 'cart:checkout' %}" class="btn btn-main">Checkout</a>
                  <a href="{% url 'ecomapp:allProdCat' %}" class="btn btn-main">Continue Shopping...</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}