<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto me-auto mb-2 mb-lg-0">
         <li class="nav-item dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                Shop
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'ecomapp:allProdCat' %}">All Products</a></li>
                {% for cat in links %}
                    <li><a class="dropdown-item" href="{{cat.get_url}}">{{cat.name}}</a></li>
                {% endfor %}
            </ul>
            {% if item_count > 0 %}
            <li class="nav-item mr-auto">
                <a class="nav-link" href="{% url 'cart:cart_detail' %}"><i class="tf-ion-android-cart"></i>{{item_count}}</a>
            </li>
            {% else %}
            <li class="nav-item mr-auto">
                <a class="nav-link" href="{% url 'cart:cart_detail' %}"><i class="tf-ion-android-cart"></i></a>
             </li>
            {% endif %}
         </li>
        </ul>

      </div>
    </div>
  </nav> -->


  {% load static %}
<!-- Main Menu Section -->
<section class="menu">
	<nav class="navbar navigation">
		<div class="container">
			<div class="navbar-header">
				<h2 class="menu-title">Main Menu</h2>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

			</div><!-- / .navbar-header -->

			<!-- Navbar Links -->
			<div id="navbar" class="navbar-collapse collapse text-center">
				<ul class="nav navbar-nav">

					<!-- Home -->
					<li class="dropdown ">
						<a href="{% url 'ecomapp:home' %}">Home</a>
					</li><!-- / Home -->

                    <li class="dropdown ">
						<a href="{% url 'ecomapp:about' %}">About Us</a>
					</li>
                    <li class="dropdown dropdown-slide">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
							role="button" aria-haspopup="true" aria-expanded="false">Shop <span
								class="tf-ion-ios-arrow-down"></span></a>
						<div class="dropdown-menu">
							<div class="row">

								<!-- Basic -->
								<div class="col-lg-12 col-md-12 mb-sm-6">
									<ul>
										<li class="dropdown-header">Categories</li>
										<li role="separator" class="divider"></li>
										<li><a href="{% url 'ecomapp:allProdCat' %}">All</a></li>
                                        {% for cat in links %}
										<li><a href="{{cat.get_url}}">{{cat.name}}</a></li>
                                        {% endfor %}

									</ul>
								</div>

							</div><!-- / .row -->
						</div><!-- / .dropdown-menu -->
					</li>
                    <li class="dropdown ">
						<a href="{% url 'ecomapp:contact' %}">Contact</a>
					</li>
                    <li class="dropdown ">
						<a href="{% url 'ecomapp:signin' %}">Sign-In</a>
					</li>
                    <li class="dropdown ">
						<a href="{% url 'ecomapp:signup' %}">Sign-Up</a>
					</li>
					{% if item_count > 0 %}
            		<li class="dropdown">
                    	<a href="{% url 'cart:cart_detail' %}"><i class="tf-ion-android-cart cart_nav" style="font-size:20px;"></i>{{item_count}}</a>
             		</li>
            		{% else %}
            		<li class="dropdown">
                		<a href="{% url 'cart:cart_detail' %}"><i class="tf-ion-android-cart cart_nav" style="font-size:20px;"></i></a>
             		</li>
            		{% endif %}
				</ul><!-- / .nav .navbar-nav -->

			</div>
			<!--/.navbar-collapse -->

		</div><!-- / .container -->
	</nav>
</section>