{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {{product.desc|truncatewords:155}}
{% endblock %}
{% block title %}
  {{product.name}}--Shop Cart
{% endblock %}
{% block content %}
<div>
    <p class="text-center">You have searched for : {{query}}</p>
</div>
<div>
        {% for product in products %}
        <div>
            <div>
                <a href="{{product.get_url}}"><img src="{{product.image.url}}" alt="{{product.name}}"></a>
                <div>
                    <h4>{{product.name}}</h4>
                    <p>${{product.price}}</p>
                </div>
            </div>
        </div>
        {% empty %}
    <div class="row mx-auto">
        <p class="text-center">0 results found</p>
    </div>
        {% endfor %}
</div>
{% endblock %}